body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #eeeaea;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h1, h2, h3 {
    color: #ffffff;
    margin-top: 0;
}
a {
    color: #4dabf7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.section {
    margin-bottom: 25px;
}

.skills span {
    display: inline-block;
    background-color: #2a2a2a;
    color: #fff;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
}

.contact p {
    margin: 5px 0;
}

@media (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 20px;
    }
}
